<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Board Platform</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <img src="{% static 'images/banner.jpg' %}" alt="Banner" class="banner">
        <h1>🚀 Job Board Platform API</h1>
        <p>Welcome to the backend of the Job Board platform.</p>
        <div class="links">
            <a href="https://mysite-z2xs.onrender.com/api/docs/">API Docs</a>
            <a href="https://alx-project-nexus-chi.vercel.app">Frontend App</a>
        </div>
    </div>
</body>
</html>
